<mat-card class="change-password-container">
	<mat-card-title>Change Password</mat-card-title>
	<mat-card-content>
		<form [formGroup]="passwordForm"
			(ngSubmit)="changePassword()">



			<div>
				<mat-form-field appearance="fill">
					<mat-label>Current Password</mat-label>
					<input matInput
						id="oldPassword"
						formControlName="oldPassword"
						type="password">
					<mat-error *ngIf="passwordForm.get('oldPassword')?.invalid && (passwordForm.get('oldPassword')?.dirty || passwordForm.get('oldPassword')?.touched)">
						<div *ngIf="passwordForm.get('oldPassword')?.errors?.['required']">
							Current Password is required.
						</div>
					</mat-error>
				</mat-form-field>
			</div>




			<div>
				<mat-form-field appearance="fill">
					<mat-label>New Password</mat-label>
					<input matInput
						id="newPassword"
						formControlName="newPassword"
						type="password">
					<mat-error *ngIf="passwordForm.get('newPassword')?.invalid && (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched)">
						<div *ngIf="passwordForm.get('newPassword')?.errors?.['required']">
							New Password is required.
						</div>
					</mat-error>
				</mat-form-field>
			</div>




			<div>
				<mat-form-field appearance="fill">
					<mat-label>
						Confirm New Password
					</mat-label>
					<input matInput
						id="confirmPassword"
						formControlName="confirmPassword"
						type="password">
					<mat-error *ngIf="passwordForm.get('confirmPassword')?.invalid && (passwordForm.get('confirmPassword')?.dirty || passwordForm.get('confirmPassword')?.touched)">
						<div *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']">
							Confirm Password is required.
						</div>
						<div *ngIf="passwordForm.hasError('mismatch')">
							Passwords do not match.
						</div>
					</mat-error>
				</mat-form-field>
			</div>




			<div>
				<button [disabled]="passwordForm.invalid"
					mat-raised-button
					color="primary"
					type="submit">
					Change Password
				</button>
			</div>



		</form>
	</mat-card-content>
</mat-card>
